{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="wrapper">
    {% include "sidenav.html" %}
    <div class="row dashboard">
        <div class="col welcome_user">
            <h5>Welcome {{ request.user.email }}</h5>
        </div>
        <div class="col">
            <button class="total_debt_amount">
                <span>N 952,482,635</span>
                <p>Total Debt Amount</p>
            </button>
        </div>
    </div>
    
</div>

<div class="row claims_list_info">
    <div class="col claims_list_box">
        <i class="far fa-chart-bar"><span>{{ claims_count }}</span></i>
        <p class="total_claims_box">Total Claims</p>
    </div>
    <div class="col claims_list_box">
        <i class="fas fa-search-dollar"><span>{{ claims_under_review }}</span></i>
        <p class="under_review_box">Under Review</p>
    </div>
    <div class="col claims_list_box">
        <i class="fas fa-spinner"><span>{{ claims_in_progress }}</span></i>
        <p class="in_progress_box">In Progress</p>
    </div>
    <div class="col claims_list_box">
        <i class="fas fa-tasks"><span>{{ claims_completed }}</span></i>
        <p class="completed_box">Completed</p>
    </div>
</div>

<div class="claims_list_margin_left">
    <h3>Search Claims</h3>
    <!-- Search Appears when search claims is clicked -->
    <!-- <div class="claims_search">
        <form method="post" action="#" class="search_ref_id">
            {% csrf_token %}
            <input type="text" placeholder="Search Ref IDs here" class="search_field">
            <button class="btn_search"><i class="fas fa-search"></i></button>
        </form>
    </div> -->
    <table class="claims_list_table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Ref ID</th>
                <th>User</th>
                <th>Currency</th>
                <th>Debt Amount</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            {% for claim in claims %}
            <tr>
                <td>{{ claim.date_created }}</td>
                <td>{{ claim.reference_number }}</td>
                <td>{{ claim.user }}</td>
                <td>{{ claim.debt_currency }}</td>
                <td>{{ claim.debt_amount }}</td>
                <td>{{ claim.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>







{% endblock content %}

Create
Profile
Invoices
Users
Close