/* ----------------------------------- */
/* GLOBAL */
/* ----------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-size: 20px;
}

/* remove default google highlighting on inputs  */
*:focus {
    outline: none;
}

/* ----------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------- */

/* ------- TOP NAV ------- */

.navigation {
    /* border-bottom:3px solid red; */
    border-width: 100%;
    border-color: #fefefe;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.199);
}

.bg-light{
    background-color: #fefefe;
}
.logo {
    display: inline-block;
    /* border: 3px solid #5F6C7B; */
    color: #094067 ;
    font-family: 'Montserrat', sans-serif;
}


.btn-outline-success {
    border-color: #fefefe;
    background-color: #fefefe;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.199);
    padding: 10px 40px;
    border-radius: 12px;
}

.btn-outline-success a {
    color: #094067;
    text-decoration: none;
}

.btn-outline-success:hover {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    text-decoration: none;
}

/* ------- SIDE NAV ------- */

.testsheet {
    color: red;
    font-family: 'Montserrat', sans-serif;
    margin: 100px;
    font-size: 200%;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidenav {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #fefefe;
    padding: 30px 0;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.16);
}

.sidenav ul li a {
    box-sizing: border-box;
    list-style: none;
    color: red;    
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.wrapper .sidenav h2 {
    color: #000;
    text-transform: capitalize;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidenav ul li {
    padding: 15px;
    width: 85%;
    /* border: 1px solid #fefefe; */
    box-shadow: none;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 80%;
    padding-left: 50px;
    color: #FFFFFE;
    transform: scale(1.03);
    transition: box-shadow 0.2s, transform 0.2s;
}

.wrapper .sidenav ul li:hover,
.wrapper .sidenav ul li:active {    
    transform: scale(1.15);
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.wrapper .sidenav ul li a {
    color: #707070;
    display: block;
    font-weight: 600;
}

.wrapper .sidenav ul li a .fas {
    width: 30px;
}
.wrapper .sidenav ul li a .far {
    width: 30px;
}

.wrapper .sidenav ul li:first-child .fas {
    color: #EF4565;
}

/* ------- SEARCH ------- */
.search_ref_id input[type=text] {
    width: 35%;
    padding: 15px;
    border: 1px solid #fefefe;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
    border-radius: 50px 0px 0px 50px;
    margin-top: 30px;
    font-size: 100%;
    padding-left: 50px;
    color: #FFFFFE;
}

.btn_search {
    color: #fefefe;
    background-color: #3DA9FC;
    padding: 15px 30px;
    margin-left: -6px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
    border-radius: 0px 50px 50px 0px;
    border: 1px solid #3DA9FC;
    margin-top: 30px;
    font-size: 100%;
}

input::placeholder,
input::text {
    color: #A9B2BE;
}

.claims_search {
    margin-left: 50px;
    padding-left: 30%;
    width: 150%;
}

/* ------- CLAIMS DETAIL VIEW ------- */

.claims_detail {
    margin-left: 16%;
    margin-top: 50px;
    /* width: 50%; */
    /* padding-right: 150px; */
    /* padding-left: 100px; */
}


.claims_detail .claim_details_info p {
    background-color: #D8EEFE;
    border-radius: 30px 30px 0 0;
    margin: auto;
    padding: 30px 80px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #D8EEFE;
    box-shadow: 8px 0px 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.claim_details_body {
    /* background-color: #f6f6f6; */
    color: #5F6C7B;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-radius:  0 0 30px 30px;
    font-family: 'Hind', sans-serif;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.claim_details_body p  {
    border-width: auto;
    border-bottom: 1px solid #e8e8e8;
    /* border-bottom: 1px solid #3DA9FC; */
}

.claim_details_body .row p:first-child {
    padding-left: 90px;
    width: 50%;
}

.claim_description {
    margin-left: 50px;
}

.claim_description p {
    padding: 0 30px;
    text-align: justify;
}
/* ----------------------------------- */
/* HOMEPAGE */
/* ----------------------------------- */

/* ------- Header ------- */
h1 {
    color: #094067;
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    font-weight: bold;
}

h1:after {
    display: block;
    height: 8px;
    background-color: #3DA9FC;
    content: " ";
    width: 50px;
    margin: 0;
    /* margin-top: 20px; */
}

.jumbotron {
    background-color: #FFFFFE;
}
.lead {
    margin-top: 50px;
    color: #5F6C7B;
    font-family: 'Hind', sans-serif;
    font-size: 160%;
    color: #5F6C7B;
}

.home_img {
    margin-top: 80px;
}

/* .home__empty:after {
    display: block;
    height: 4px;
    background-color: #3DA9FC;
    content: " ";
    width: 20%;
    margin: 0 auto;
    margin-top: 50px;
} */


/* ------- CARDS ------- */

.home_cards .container .cards .home-cards {
    border: 1px solid #f6f6f6;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.199); */
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
    margin: 80px;
    padding: 30px 0;
    border-radius: 20px;
}


/* ------- ICONS ------- */

.handshake {
    color: #5F6C7B;
}

.chart {
    color: #3DA9FC;
}

.hand-usd {
    color: #EF4565;
}


/* ----------------------------------- */
/* SIGN UP */
/* ----------------------------------- */

/* ----------------------------------- */
/* LOGIN */
/* ----------------------------------- */

.login {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Hind', sans-serif;
    font-size: 100%;
}

.login::before, 
.login::after {
    box-sizing: border-box;
}

.login_custom_field {
    position: relative;
    font-size: 100%;
    padding-top: 20px;
    margin-bottom: 5px;
}

.login .login_custom_field input {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    background: #D8EEFE;
    padding: 12px;
    border-radius: 5px;
    font-size: 100%;
}

.login .login_custom_field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #094067;
    background: #D8EEFE;
}



/* .login input:focus::placeholder {
    color: transparent;
}

.login input::placeholder {
    color: #094067;
    transition: color 0.3s ease;
} */

/* ----------------------------------- */
/* CLAIMS LIST */
/* ----------------------------------- */

/* -----Dashboard----- */

.wrapper .dashboard {
    width: 100%;
    margin-left: 200px;
}

/* -----User----- */
.wrapper .welcome_user {
    width: 100%;
    font-family: 'Hind', sans-serif;
    margin: 50px 0;
    padding-top: 25px;
    padding-left: 90px;
}

/* -----Total Debt Amount----- */

.wrapper .dashboard .total_debt_amount {
    display:  inline-block;
    background-color: #3DA9FC;
    border-radius: 100px;
    color: #f6f6f6;
    padding: 10px 50px 10px 50px;
    display: inline-block;
    border: 3px solid #3DA9FC;
    margin: 27px 0 27px 120px;
    /* margin-left: 120px; */
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199)
    /* box-shadow: 8px 8px 24px #3da9fc34 */

}

.wrapper .dashboard .total_debt_amount span {
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
    display: inline-block;    
    margin-top: 20px;
    font-weight: 700;
}

.wrapper .dashboard .total_debt_amount p {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    margin-bottom: -5px;
}

/* -----Claims List 4 Boxes----- */

.claims_list_info {
    width: 83%;
    margin-left: 17%;
    /* margin-top: 20px; */
}

.claims_list_box {
    margin: 50px;
    padding: 40px 40px;
    border: 1px solid #f6f6f6;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.199); */
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
    border-radius: 20px;
    text-align: center;
    
}

.claims_list_box:last-child{
    background-color: #D8EEFE;
    border: 1px solid #D8EEFE;
}

.claims_list_info .claims_list_box span {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin-left: 15px;
    
}

.claims_list_info .claims_list_box p {
    width: 100%;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 80%;
    margin-top: 20px;

}

.fa-chart-bar {
    color: #EF4565;
    font-weight: 700;
    margin-right:5px;
}

.total_claims_box {
    color: #EF4565;
}

.fa-search-dollar {
    color: #3DA9FC;
    margin-right:5px;
    /* font-weight: 700; */
}

.under_review_box {
    color: #3DA9FC;
}

.fa-spinner {
    color: #5F6C7B;
    margin-right:5px;
}

.in_progress_box {
    color: #5F6C7B;
}

.fa-tasks {
    color: #094067;
    margin-right:5px;
}

.completed_box {
    color: #094067;
}

/* -----Table: Recent Claims----- */

.claims_list_margin_left {
    margin-left: 17%;
}

.claims_list_margin_left h3 {
    font-family: 'Hind', sans-serif;
    margin: 15px 65px;
    font-size: 100%;
}

.claims_list_table {
    /* width: 80%; */
    width: 90%;
    /* margin: 2% 10%; */
    margin: 2% 5%;
    border-collapse: collapse;
    font-size: 80%;
    border-radius: 20px;
    overflow: hidden;
    /* border-radius: 20px; */
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);

    /* margin: 25px 0; */
    /* margin-top: 20px; */
    /* min-width: 400px; */
}


.claims_list_table thead tr {
    background-color: #D8EEFE;
    color: #094067;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.claims_list_table th,
.claims_list_table td {
    padding: 12px 15px;
}

.claims_list_table tbody tr {
    /* border-bottom: 1px solid #dddddd; */
    font-family: 'Hind', sans-serif;
    transform: scale(1.03);
    transition: box-shadow 0.2s, transform 0.2s;
}

.claims_list_table tbody tr:nth-of-type(even) {
    /* background-color: #f3f3f377; */
    background-color: #f6f6f6a1;
}

.claims_list_table tbody tr:last-of-type {
    border-bottom: 2px solid #D8EEFE;
}

/* .claims_list_table tbody tr.active-row {
    font-weight: bold;
    color: #D8EEFE;
} */

.claims_list_table tbody tr:nth-child(even):hover {
    background-color: #e9f5fe;
    color: #094067;
    transform: scale(1.04);
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.claims_list_table tbody tr:nth-child(odd):hover {
    background-color: #e9f5fe;
    color: #094067;
    transform: scale(1.04);
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.366);
}


/* ----------------------------------- */
/* CLAIMS DETAIL VIEW */
/* ----------------------------------- */

/* .wrapper .dashboard {
    width: 100%;
    margin-left: 200px;
} */

.dashboard_claims {
    /* width: 100%;
    margin-left: 200px; */
    margin-top: 80px;
    margin-left: 30px;
}

/* ----- Debt Amount Blue Left ----- */

.debt_amount_wrapper {
    /* display: inline-block; */
    padding-left: 10%;
    width: 100%;
}

/* Top Half */

.debt_amount {
    display: inline-block;
    background-color: #3DA9FC;
    width: 55%;
    padding-left: 50px;
    margin-left: 30px;
    color: #f6f6f6;
    padding: 20px 0 10px 110px;
    border-radius: 30px 30px 0 0;
    font-weight: 700;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.16);
}

.debt_amount p:first-child {
    font-size: 80%;
    margin-top: 10px;
    font-family: 'Hind', sans-serif;
}

.debt_amount p:last-child {
    font-size: 160%;
    font-family: 'Montserrat', sans-serif;
}

/* Lower Half */

.debt_recovered {
    /* display: inline-block; */
    width: 55%;
    margin-left: 30px;
    padding-top: 5px;
    text-align: center;
    background-color: #D8EEFE;
    color: #094067;
    font-family: 'Hind', sans-serif;
    padding-bottom: 10px;
    border-radius:  0 0 30px 30px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.16);
}

.debt_recovered p {
    /* display: inline-block; */
    padding-bottom: 10px;
    padding-top: 5px;
}

.debt_recovered p:first-child {
    /* display: inline-block; */
    padding-bottom: 5px;
}

.debt_recovered p:last-child {
    /* display: inline-block; */
    padding-bottom: 5px;
}

.debt_recovered .recovered,
.debt_recovered .unrecovered,
.debt_recovered .recovered_text,
.debt_recovered .unrecovered_text {
    padding-bottom: 0;
    font-size: 80%;
    margin-bottom: -5px;
}

/* ----- Client Info White Right  ----- */

.client_info {
    /* box-sizing: border-box; */
    color: #5F6C7B;
    /* width: 500%; */
    width: 50%;
    /* margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px; */
}

.client_card {
    width: 70%;
    height: 100%;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
}

.client_name {
    display: inline-block;
    text-align: right;
    font-family: 'Hind', sans-serif;
    text-align: right;
    margin-left: 60%;
    margin-top: 20px;
    /* width: 50%; */
    /* margin-left: 50%; */
}

.client_number {
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 160%;
    margin-left: 120px;
    width: 50%;
    /* margin-left: 30%; */
}

.client_since {
    font-family: 'Hind', sans-serif;
    display: inline-block;
    margin-top: 10px;
    /* width: 30%; */
    margin-left: 10%;
    /* margin-top: 20px; */
    font-size: 80%;
}

.client_since span {
    margin-left: 150px;
}

.client_circles {
    display: inline-block;
    font-size: 80%;
    /* float: right; */
    margin-left: 80%;
    margin-bottom: 10%;
    /* padding-bottom: -20px; */
    /* width: 10%; */
}

/* ----- Update, Support Docs, Comments Icons ----- */

.claims_detail_icons {
    width: 100%;   
    margin-left: 10%;   
    margin-top: 50px;
    text-align: center;
}

.claims_details_icons i {
    /* margin-left: 10px; */
}

.claims_detail_icons p {
    font-family: 'Hind', sans-serif;
    /* width: 40%; */
    /* text-align: center; */
}

.fa-edit {
    color: #3DA9FC;
}

.fa-paperclip {
    color: #094067;
}

.fa-comment-alt {
    color: #EF4565;
}

/* ----- Support Docs ----- */

.claim_support_docs_head p {
    background-color: #3DA9FC;
    border-radius: 30px 30px 0 0;
    margin: auto;
    padding: 30px 80px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #D8EEFE;
    box-shadow: 8px 0px 8px 8px 24px rgba(0, 0, 0, 0.199);
    color: white;
}

.claim_support_docs_body {
    /* background-color: #f6f6f6; */
    color: #5F6C7B;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-radius:  0 0 30px 30px;
    font-family: 'Hind', sans-serif;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.claim_support_docs_body p  {
    border-width: auto;
    /* border-bottom: 1px solid #e8e8e8; */
    /* border-bottom: 1px solid #3DA9FC; */
}

.claim_support_docs_body .row p:first-child {
    padding-left: 90px;
    width: 50%;
}

.claim_support_docs_body .folder {
    margin-left: 80px;
    color: #3DA9FC;
}

.claim_support_docs_body .trash {
    margin-left: 80px;
    color: #3DA9FC;
}

/* ----- Comments ----- */

.claim_comments {
    margin-left: 60px;
}

.claim_comments_head p {
    background-color: #EF4565;
    border-radius: 30px 30px 0 0;
    margin: auto;
    padding: 30px 80px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #D8EEFE;
    box-shadow: 8px 0px 8px 8px 24px rgba(0, 0, 0, 0.199);
    color: white;
}

.claim_comments_body {
    /* background-color: #f6f6f6; */
    color: #5F6C7B;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-radius:  0 0 30px 30px;
    font-family: 'Hind', sans-serif;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.claim_comments_body form p {
    border-width: auto;
    margin-left: 50px;
    /* border: 1px solid blue; */
    width: 50%;
    display: inline-block;
    
    /* border-bottom: 1px solid #e8e8e8; */
    /* border-bottom: 1px solid #3DA9FC; */
}

.claim_comments_body form input[type=text] {
    border-width: auto;
    margin-left: 50px;
    /* border: 1px solid blue; */
    width: 85%;
    border: 1px solid #fefefe;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.199);
}

.comments_support {
    /* border: 3px solid blue; */
    padding-left: 50px;
    margin-top: 20px;
    color: #5F6C7B;
    font-family: 'Hind', sans-serif;
}

.comments_support .fa-paperclip {
    color: #3DA9FC;
}

.comments_support span {
    /* width: 50%; */
    margin-left: 15px;
    color: #5F6C7B;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
}

.comments_support button {
    margin-left: 210px;
    background-color: #3DA9FC;
    border: 1px solid #3DA9FC;
    border-radius: 40px;
    padding: 10px 30px;
    width: 27%;
    color: #f6f6f6;
}



/* ----------------------------------- */
/* CLIENT DETAIL VIEW */
/* ----------------------------------- */

/* ----- Client Details Card ----- */


.wrapper .client_text {
    width: 100%;
    margin-left: 200px;
    margin-top: 50px;
    /* margin-top: 100px; */
}

.wrapper .client_text p {
    width: 20%;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

.client_details_card {
    width: 70%;
    margin-left: 280px;
    margin-top: 50px;    
    border-radius: 20px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
    padding: 30px 10px 60px 60px;
    
}

.client_details_card .row {
    width: 100%;
}


.client_details_card p {
    padding-top: 25px;
    width: 50%;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    margin-left: 15px;
    color: #707070;
}

.client_details_card span {
    border-bottom: 1px solid #3DA9FC;
    width: 50%;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    margin-left: 15px;
    color: #707070;
    
}

.client_details_card_label {
    font-size: 60%;
    margin-bottom: 0px;
    padding-left: 17px;
    font-family: 'Hind', sans-serif;
}

.client_details_card i {
    color: #3DA9FC;
}


/* ----- Client Details Claims Info Card ----- */

.client_details_claims_info_card_outer {
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.client_details_claims_info_card_inner {
    /* width: 100%; */
    padding: 50px;
    border-radius: 20px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
}

.client_details_claims_info_card_inner .fa-google {
    color: #707070;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.client_details_claims_info_card_inner span {
    font-size: 50%; color: #707070;
    margin-left: 20px;
    margin-bottom: -20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.client_details_claims_info_card_inner p:last-child {
    font-family: 'Hind', sans-serif;
}

.client_details_claims_info_card_inner .total_claims {
    width: 50%;
    margin-bottom: 0px;
    margin-left: 60px;
    font-family: 'Hind', sans-serif;

}

.client_details_claims_info_card_inner button {
    background-color: #ffffff;
    border: 1px solid #3DA9FC;
    color: #3DA9FC;
    border-radius: 5px;
    font-size: 50%;
    padding: 2px 8px;
    margin-left: 60px;
}

.client_details_claims_info_card_inner .recent_claims {
    margin-top: 15px;
    font-size: 90%;
    font-family: 'Hind', sans-serif;
}


.client_details_claims_info_card_inner .claims_recent_row {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* padding-right: 0px; */

    /* Used. Uncomment if bootstrap rows dont work */
    margin-bottom: 30px;
    width: 100%;
    font-size: 65%;
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.199);
    justify-content: space-evenly;

}

.client_details_claims_info_card_inner .claims_recent_col {
    width: 50%;
    padding-left: 10%;   
    text-align: center;
}

.client_details_claims_info_card_inner .claims_recent_col p {
    width: 70%;
    margin: 0px;
    font-family: 'Hind', sans-serif;
}

.client_details_claims_info_card_inner .claims_recent_col .claim_status_1,
.client_details_claims_info_card_inner .claims_recent_col .claim_status_2 {
    border-radius: 10px;
    color: #FFFFFE;
    width: 40%;
    margin-left: 20px;
    padding-top: 3px;
}

.client_details_claims_info_card_inner .claims_recent_col .claim_status_1 {
    background-color: #EF4565;
}
.client_details_claims_info_card_inner .claims_recent_col .claim_status_2 {
    background-color: #3DA9FC;
}



font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;