/* ----------------------------------- */
/* GLOBAL */
/* ----------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-size: 20px;
}

/* ----------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------- */

/* TOP NAV */
.bg-light{
    background-color: #fefefe;
}
.logo {
    display: inline-block;
    /* border: 3px solid #5F6C7B; */
    color: #094067 ;
    font-family: 'Montserrat', sans-serif;
}


.btn-outline-success {
    border-color: #fefefe;
    background-color: #fefefe;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.199);
    padding: 10px 40px;
    border-radius: 12px;
}

.btn-outline-success a {
    color: #094067;
    text-decoration: none;
}

.btn-outline-success:hover {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    text-decoration: none;
}



/* SIDE NAV */
.sidenav li a:link {
    margin-top: 50px;
    color: #5F6C7B;
    font-family: 'Hind', sans-serif;
    font-size: 32px;
    color: #5F6C7B;
}

/* ----------------------------------- */
/* HEADER */
/* ----------------------------------- */

h1 {
    color: #094067;
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;    
    font-weight: bold;
}

h1:after {
    display: block;
    height: 8px;
    background-color: #3DA9FC;
    content: " ";
    width: 50px;
    margin: 0;
    /* margin-top: 20px; */
}

.jumbotron {
    background-color: #FFFFFE;
}
.lead {
    margin-top: 50px;
    color: #5F6C7B;
    font-family: 'Hind', sans-serif;
    font-size: 160%;
    color: #5F6C7B;
}



font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;