{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container jumbotron" style="border: 3px solid pink">
        <div class="row">
            <div class="col">
                <h1>Track Your Claims Seamlessly</h1>
                <p class="lead">Uncover the real-time insights you need for debt recovery</p>
            </div>
            <div class="col">
                <img src="static/images/home/home_image.svg" alt="home_image">
            </div>
        </div>        
    </div>
    


    <div id="root"></div>

    <script src="{% static 'js/api.js' %}"></script>

{% endblock content %}